<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristhianbonilla.resources">

    <application>
        <activity
            android:name=".ResourceActivity"
            android:label="@string/title_activity_resource"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>