<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristhianbonilla.feature_home">

    <application>
        <activity
            android:name="com.cristhianbonilla.features_home.HomeActivity"
            android:label="@string/title_activity_home">
        </activity>
    </application>

</manifest>